# payalmit.github.io
body{
	text-align:center;
	font-family: cursive,serif; 
	font-color: white;
}
h1{
	color:red;
	text-decoration: underline black;

}
.box{
	border:white solid ;
	background-color: black;
	border-radius: 5px;
	padding:20px;
	line-height: 1em;
	width: 30%;
	margin:auto;
	padding-left: 40px;
}


.formgrp {
	padding-bottom: 15px;
	font-family: cursive ,serif;
	border:solid white 3;
	
	
}
.form label{
	display:block;
	padding:15px;
	font-color:white;
}

.form input[type="text"] input[type="textarea"]{
	padding:5px;
	box-shadow: 5px;
    
}
#button:hover{
	background-color:red;
}
#button{
	
	font-family:cursive,serif ,bold;
}
